<div class="flex-wrapper work">
	<%- partial("_partials/_header") %>
	<div class="flex">
		<%- partial("_partials/_page-title") %>
		<section class="work-bg clearfix">
			<div class="oml float-l sm-half">
				<div class="work-tr">
					<img src="<%= site_url %>/images/vuid-logo-236.png" class="work-logo">
					<div class="work-title">
						<h2>VUID Website</h2>
						<h3>Front End Developer, UI/UX Designer, Project Manager</h3>
					</div>
				</div>
				<div class="work-details">
					<h3>Project Goals:</h3>
					<ul>
						<li>Create a global ID# system</li>
						<li>Create a social bio webpage for each ID, a kind of “Wikipedia for all”</li>
						<li>Sell special ID#s through the website to generate income</li>
					</ul>
				</div>
				<div class="work-details">
					<h3>Process:</h3>
					<ul>
						<li>Work closely with CEO to translate his ideas into an exciting new product with a great user experience.</li>
						<li>Create a design within previously established style guidelines.</li>
						<li>Work with back end developers to meet project goals and deadlines.</li>
					</ul>
				</div>
				<div class="work-details">
					<h3>Toolbox:</h3>
					<ul>
						<li>Development: Sails.js, Javascript, React.js, jQuery, CSS3, Less, EJS, HTML5, Grunt, Bower, Node.js, Responsive</li>
						<li>Design: Adobe Illustrator, Invision, Pencil & Paper</li>
						<li>Other: Trello</li>
					</ul>
				</div>
			</div>
			<div class="omr float-r lg-half">
				<img src="<%= site_url %>/images/vuid-mockups-1800.png">
			</div>
		</section>
		<hr class="omr oml" />
		<section class="clearfix">
			<div class="omr float-r sm-half">
				<div class="work-tr">
					<img src="<%= site_url %>/images/spotlight-logo-236.png" class="work-logo">
					<div class="work-title">
						<h2>Spotlight Website</h2>
						<h3><a href="http://www.spotlight.is" target="_blank">www.spotlight.is</a></h3>
						<h3>Front End Developer</h3>
					</div>
				</div>
				<div class="work-details">
					<h3>Project Goals:</h3>
					<ul>
						<li>Create a companion site to the Spotlight Social Contest App. Initially this was a static landing page for marketing the app. It grew to include app features such as sign up, a live feed of posts (”backstage”), a real time leaderboard and the ability to post to the app.</li>
					</ul>
				</div>
				<div class="work-details">
					<h3>Process:</h3>
					<ul>
						<li>Work with the Creative Director to turn their designs into a fully functioning, responsive website.</li>
					</ul>
				</div>
				<div class="work-details">
					<h3>Toolbox:</h3>
					<ul>
						<li>Sails.js, Javascript, jQuery, CSS3, Less, EJS, HTML5, Grunt, Node.js, Responsive</li>
					</ul>
				</div>
			</div>
			<div class="oml float-l lg-half">
				<img src="<%= site_url %>/images/spotlight-mockups-1800.png">
			</div>
		</section>
		<hr class="omr oml" />
		<section class="work-bg clearfix work-other">
			<div class="oml float-l sm-half">
				<div class="work-tr">
					<img src="<%= site_url %>/images/kh-logo-236.png" class="work-logo">
					<div class="work-title">
						<h2>Other Works</h2>
						<h3>Graphic Designer, Sign Designer, T-shirt Designer, Illustrator</h3>
					</div>
				</div>
				<div class="other-tr">
					<div class="work-details">
						<h3>The John F. Kennedy Center for the Performing Arts Holiday Mailer:</h3>
						<ul>
							<li>Responsible for designing 2 versions of this printed 12 page color booklet. 40,000 copies printed and distributed.</li>
							<li>Set the look and feel of all advertising materials for the 2010 Holiday Season.</li>
						</ul>
					</div>
					<div class="work-details">
						<h3>Spotlight T-Shirt Design:</h3>
						<ul>
							<li>The Spotlight app needed a t-shirt design that was inexpensive to print but that employees and customers would be excited to wear.</li>
							<li>Managed entire process including design, and working directly with the printer.</li>
						</ul>
					</div>
				</div>
				<div class="other-tr">
					<div class="work-details">
						<h3>Philadelphia PGA Sign:</h3>
						<ul>
							<li>The Philadelphia PGA needed a new sign for their headquarters. I worked within brand guidelines to create an eye catching design the client was excited about.</li>
							<li>Tools used included Illustrator and FlexiSIGN</li>
						</ul>
					</div>
					<div class="work-details">
						<h3>Austin Chamber Music Center:</h3>
						<ul>
							<li>Created the look and feel for all marketing materials for the Austing Chamber Music Center’s 30th Anniversary Celebration. Included designing and illustrating a “save the date” postcard, a formal invitation, and web banners.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="omr float-r lg-half work-other-mockup">
				<img src="<%= site_url %>/images/other-mockups-1800.png">
			</div>
		</section>
	</div>
	<%- partial("_partials/_footer") %>
</div>